body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 30;
    padding: 20;
    color: #333;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
}

#drop-area.highlight {
    background-color: #e9e9e9;
}

#drop-area:hover {
    background-color: #d0d0d0;
}


label {
    cursor: pointer;
}

#download-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 20px;
}

#download-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#download-button:active {
    transform: scale(0.95);
}

